@font-face {
    font-family: "TChirp";
    src:url("src/chirp-regular-web.woff") ;
}
@font-face {
    font-family: "TChirpB";
    src: url("src/Chirp-Bold.woff");
}
*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "TChirp";
    /* z-index: 0; */
}
.page {
    display: grid;
    grid-template-columns: 26.5vw 39.5vw 1fr;
    height: 100vh;
    border: 1px solid rgb(47,51,54);
}
.leftsidebar{
    grid-column: 1/2;
    background-color:rgb(0, 0, 0);
    border-right: 1px solid rgb(47,51,54);
    
}
.feed{
    grid-column: 2/3;
    background-color: rgb(0,0,0);
}
.rightsidebar{
    grid-column: 3/4;
    background-color: #72A276;
}
.side_options{
    display: flex;
    flex-direction: row;
    font-size: 16.5px;
    align-items:baseline ;
    margin-left: 7rem;
    padding:9px 10px 10px 7px ;
    width: max-content;
}
.side_options #X{
    width: 1.15em;
    height: 1.15em;
    
}
.side_options.Xdiv{
    margin-top: 4px;
    margin-bottom: 11px;
}
.side_options .span{
    font-weight: 900;
}

.icon{
    width: 1em;
    height: 1em;
    margin-right: 20px;
}
#post_btn{
    width: 190px;
    height: 42px;
    border-radius: 50px;
    margin-left: -15px;
}
#post_btn_text{
    color: black;
    font-family: TChirpB;
    font-weight: 900;
}

.feed_tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    width: 100%;
    font-size:13px ;
    font-weight: 900;
    border-bottom: 1px solid rgb(47,51,54);
}

.Foryou{
    font-family: TChirpB;
    grid-column: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    color: rgb(113,118,123);
}

.Following{
    font-family: TChirpB;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    color: rgb(113,118,123);
}
.profile{
    display: flex;
    width: max-content;
    padding: 12px 10px 12px 20px;
    margin-left:99px ;
    margin-top: 16px;
}
.pfp{
    height: 2rem;
    border-radius: 50px;
    
}
.ptext{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 2px;
}
.ptext #name{
    font-size: 0.8rem;
    font-weight: 900;
}
.ptext #uid{
    font-size: 0.79rem;
    font-weight: 100;
    margin-top: 2.5px;
    color: rgb(90,94,98);
}
.dots{
    padding-left: 45px;
}